.poop {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgb(82, 6, 6), rgb(194, 11, 11));
  display: flex;
}
.info {
  height: 100%;
  width: 45%;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.clipboard {
  height: 150px;
  width: 105px;
  color: rgb(143, 19, 19);
}
.content {
  text-align: center;
}
.content h1 {
  color:rgb(146, 7, 7)
}
.login-button {
  padding: 12px 29px;
  width: 100%;
  background-color: rgb(146, 7, 7);
  color: white;
  border: none;
  font-size: 20px;
  transition: 0.4s ease;
}
.login-button:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(146, 7, 7);
  border: solid 2px rgb(146, 7, 7);
}
